<section class="css-tabs" aria-label="Services tabs">
    <input type="radio" name="tabs" id="tab-team" checked>
    <input type="radio" name="tabs" id="tab-catering">
    <input type="radio" name="tabs" id="tab-recipes">
    <input type="radio" name="tabs" id="tab-about-us">

    <div class="tab-labels">
        <label for="tab-team" class="tab-label">Kurse</label>
        <label for="tab-catering" class="tab-label">Catering</label>
        <label for="tab-recipes" class="tab-label">Rezepte</label>
        <label for="tab-about-us" class="tab-label">About me</label>
    </div>

    <div class="page-bg" aria-hidden="true"></div>

    <div class="tabs-panels" role="tabpanel">
        <section id="panel-team" class="panel" aria-labelledby="tab-team"></section>
        <section id="panel-catering" class="panel" aria-labelledby="tab-catering"></section>
        <section id="panel-recipes" class="panel" aria-labelledby="tab-recipes"></section>
        <section id="panel-about-us" class="panel" aria-labelledby="tab-about-us"></section>
    </div>
</section>
