<section id="panel-about-us" class="panel" aria-labelledby="tab-about-us">
    <blockquote>
        <p class="quote">Making other people happy makes me happy. And people with pizza are rarely unhappy.</p>
    </blockquote>
    <div class="kurzuebersicht" aria-label="Short overview">
        <h2>In a nutshell</h2>
        <ul class="info-list">
            <li class="info-item"><span class="info-label info-value">Software developer at Bosch</span></li>
            <li class="info-item"><span class="info-label info-value">I've been baking pizza for over 10 years, professionally since 2025</span></li>
            <li class="info-item"><span class="info-label info-value">My dream is my own pizzeria and I'm working towards it step by step</span></li>
            <li class="info-item"><span class="info-label info-value">I play guitar, D&D and frisbee, boulder and bake</span></li>
        </ul>
    </div>

    <h2>I...</h2>
    <p class="lead">
        ...don't have an extraordinary pizzaiolo origin story. Pizza is easy to learn, hard to master and that drives me as much as the opportunity to distribute hot happiness. While most pizzaiolos have been baking pizza since childhood, I've taught myself the knowledge and skills over the last 10 years through self-study and several courses, and started baking professionally in 2025.
    </p>

    <div class="insta-cta">
        <p>Want to see what's in the oven right now?</p>
        <a href="https://www.instagram.com/teigtraumtuebingen" target="_blank" class="insta-link">
            <i class="fab fa-instagram"></i> Follow me on Instagram
        </a>
    </div>
</section>
