<section id="panel-team" class="panel" aria-labelledby="tab-team">
    <blockquote>
        <p class="quote">Teamfähigkeit zeigt sich erst beim letzten Stück Pizza.</p>
    </blockquote>
    <div class="kurzuebersicht" aria-label="Kurzüberblick">
        <h2>Dieser Kurs ist für dich, wenn...</h2>
        <ul class="info-list">
            <li class="info-item"><span class="info-label info-value">...du ein sicheres und einfaches Rezept für gute Pizza suchst</span></li>
            <li class="info-item"><span class="info-label info-value">...du dich fragst warum deine Pizza nicht schmeckt wie beim Italiener</span></li>
            <li class="info-item"><span class="info-label info-value">...du mit Freund:innen oder Kolleg:innen entspannt etwas Neues lernen möchtest</span></li>
        </ul>
    </div>

    <div class="kurzuebersicht" aria-label="Kurzüberblick">
        <h2>In Kürze</h2>
        <div class="highlight-box">
            <p class="lead">
                Ein entspanntes Get-together mit deinen Liebsten, bei dem du ganz nebenbei lernst,
                blitzschnell und absolut sicher die perfekte Gourmet-Pizza zu backen.
            </p>
        </div>
        <ul class="info-list">
            <li class="info-item"><span class="info-label">Dauer:</span><span class="info-value">ca. 3 Stunden</span></li>
            <li class="info-item"><span class="info-label">Teilnehmende:</span><span class="info-value">8–12 Personen</span></li>
            <li class="info-item"><span class="info-label">Fokus:</span><span class="info-value">Praxisorientiertes Backen + Basics</span></li>
            <li class="info-item"><span class="info-label">Vorkenntnisse:</span><span class="info-value">keine erforderlich</span></li>
            <li class="info-item"><span class="info-label">Inklusive:</span><span class="info-value">Zutaten, Ofen, Werkzeug, Getränke, Anfahrt und Rezeptunterlagen</span></li>
            <li class="info-item"><span class="info-label">Sprache:</span><span class="info-value">Deutsch (auf Wunsch Englisch)</span></li>
            <li class="info-item"><span class="info-label">Ort:</span><span class="info-value">Ich komme zu euch, große Küche vorausgesetzt. Tübingen und Umgebung</span></li>
            <li class="info-item"><span class="info-label">Preis:</span><span class="info-value">ab 40€ pro Person</span></li>
        </ul>
    </div>

    <div class="carousel-wrapper">
        <div class="carousel-container">
            <button class="nav-btn prev" aria-label="Zurück">&#10094;</button>
            <button class="nav-btn next" aria-label="Weiter">&#10095;</button>
            <div class="insta-slider">
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0866.jpg" alt="Pizza wirken" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0884.jpg" alt="Ruhender Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0898.jpg" alt="Teigentnahme" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0930.jpg" alt="Pizza im Ofen" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0939.jpg" alt="portionierter Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0960.jpg" alt="portionierter Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0970.jpg" alt="portionierter Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0977.jpg" alt="portionierter Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_0997.jpg" alt="portionierter Teig" class="slider-img"></a></div>
                <div class="insta-item"><a href="https://www.instagram.com/teigtraumtuebingen" target="_blank"><img src="bilder/jessi/20260301-_MG_1013.jpg" alt="portionierter Teig" class="slider-img"></a></div>
            </div>
            <div class="dots-container" id="dotsContainer"></div>
        </div>
    </div>

    <h3>Kursinhalt</h3>
    <ul class="info-list">
        <li class="info-item"><span class="info-label info-value">Selbstständiges Zubereiten (und mit nach Hause nehmen) des Teigs</span></li>
        <li class="info-item"><span class="info-label info-value">New York Style und Napoletana</span></li>
        <li class="info-item"><span class="info-label info-value">Direkt-, Indirekt-, Kalt- und Warmführung</span></li>
        <li class="info-item"><span class="info-label info-value">Teig zu Pizza formen und belegen</span></li>
        <li class="info-item"><span class="info-label info-value">Pizza schieben, backen und drehen</span></li>
        <li class="info-item"><span class="info-label info-value">Biochemische Prozesse und deren Auswirkungen</span></li>
    </ul>

    <div class="contact-section">
        <a class="cta-button js-open-modal" data-service="Workshop" href="javascript:void(0)">Jetzt Workshop buchen</a>
        <a href="Handout.pdf" class="download-button" download><i class="fas fa-download"></i> Handout (DE)</a>
    </div>
</section>
